@font-face {
  font-family: "poppins";
  src: url("Poppins-Medium.otf");
}

body {
  font-family: "poppins";
}
.pala {
  font-family: "poppins";
  font-size: 30px;
}

legend {
  color: blue;
}

select:hover {
  background-color: blanchedalmond;
}

option:hover {
  background-color: blanchedalmond;
}

input:hover {
  background-color: blanchedalmond;
}

textarea:hover {
  background-color: blanchedalmond;
}

.rule {
  margin: 0px 0px 0px 1rem;
  font-size: 15px;
  color: blue;
}

.image-headers {
  width: 100%;
  height: auto;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-headers img {
  width: 100%;
  height: auto;
}

.rules {
  padding-bottom: 1rem;
  color: blue;
  margin: auto;
}

button a {
  color: black;
  font-family: "poppins";
  text-decoration: none;
}
